@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<p>
    <img src="https://vignette.wikia.nocookie.net/seinfeld/images/e/e1/Vandelay.gif/revision/latest/scale-to-width-down/180?cb=20160115022652" alt="Vandelay"
         data-image-key="Vandelay.gif" data-image-name="Vandelay.gif" width="180" height="107">
</p>