@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Kel Varnsen</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">George Costanza</a>
</address>